@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans");

body {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;

  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  background-color: #57b0f1;
  padding: 5px 5px;
  align-items: center;
}

.navbar .logo {
  width: 69px;
  height: 64px;
}

.navbar .menu {
  display: flex;
  width: 270px;
  justify-content: space-around;
  margin-left: auto;
}

.navbar .menu a {
  color: white;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-message .text {
  color: #57b0f1;
}

.welcome-message .image {
  width: 75%;
}

.footer {
  text-align: center;
}

.footer .info {
  font-size: 10px;
}

.button {
  color: #57b0f1;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
