/***************EXAMINATIONS***********************/
.container {
    margin-top: 30px;
}

.page-title {
    margin: 50px;
    box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 3px;
    color: red;
}

.form-wrap{
    border: none !important;
    box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 15%);
    border-radius: 0.3rem;
}

.header-form{
    background: #2E3A59;
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button-close{
    color: white;
    margin: 4px;
    cursor:pointer;
    padding: 0 7px;
    background: none;
    border: none;
}


.button-close:focus {
    outline:0;
}

.form-body{
    padding:30px;
}

#form-update{
    display: none;
}

#form-add{
    display:none;
}

.admin-modifications-table {
    box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 15%);
    width: 95%;
    font-size: 22px;
    border-radius: 0.3rem;
}

.admin-modifications-table th:last-child{
    display: flex;
    justify-content: flex-end;
    border-top-right-radius: 0.3rem;
}

.admin-modifications-table th:nth-child(1){
    border-top-left-radius: 0.3rem;
}

.admin-modifications-table td:last-child{
    /* width: 40%; */
}

.add-examination-button-top {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 6px 10px;
    border: none;
    border-radius: 5%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    background-color: #57B0F1;
    color: white;
    border-color: #57B0F1;
}

.add-examination-button {
    cursor: pointer;
    padding: 6px 10px;
    border: none;
    border-radius: 5%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    background-color: #57B0F1;
    color: white;
    border-color: #57B0F1;
    display: none;
}

.delete-examination-button {
    cursor: pointer;
    padding: 6px 10px;
    border: none;
    border-radius: 5%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    background-color: #f24646;
    color: white;
    border-color: #f24646
}

.update-examination-button {
    cursor: pointer;
    padding: 6px 10px;
    border: none;
    border-radius: 5%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    background-color: #57B0F1;
    color: white;
    border-color: #57B0F1;
}

.add-examination-button:hover {
    color: black;
}

.add-examination-button-top:hover {
    color: black;
}

.update-examination-button:hover {
    color: black;
}

.delete-examination-button:hover {
    color: black;
}

#table-button {
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: white;
    background: #828080;
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
}

.exam-form-text .fas {
    padding: 0.6rem 1rem;
    background-color: #57b0f16b;
    border-radius: 100%;
    color: white;
    height: fit-content;
}

#table-button:hover {
    color: #57B0F1;
}

.right {
    float: right;
    margin-right: 10px;
}

.info {
    font-size: 25px;
    margin-top: 20px;
}

.fa-info {
    color: #828080;
}


#form {
    text-align: center;
    font-size: 24px;
    width: 95%;
    margin: auto;
}

.form-control {
    width: 80%;
    margin: auto;
    border: 2px solid black;
    border-radius: 2px;
}

.form-label {
    margin-top: 20px;
    font-size: 18px;
}

.buttons-examinations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

#message {
    transition: 0.4s;
    color: red;
    font-weight: bolder;
}

.exam-form-text{
    display: flex;
    justify-content: space-between;
}

.exam-form-text p {
    text-align: center;
    font-size: 18px;
    margin: 0px 6px;
    margin-bottom: 20px;
}

.exam-form-text p b {
    color: #57b0f1;
}

.form-wrap input {
    border-width: thin;
    border-radius: 0.3rem;
}

.btn-save-changes{
    padding: 6px 10px;
    border: none;
    border-radius: 5%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    background-color: #57B0F1;
    color: white;
    border-color: #57B0F1;
    cursor: pointer;
    font-size: 20px;
}

.btn-delete-entry{
    padding: 6px 10px;
    border: none;
    border-radius: 5%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    background-color: #d94c4c;
    color: white;
    border-color: #d94c4c;
    cursor: pointer;
    font-size: 20px;
}


/************************ADMIN TOGGLE MENU**********************/
.drop-menu{
    z-index: 1;
    display: none;
    position: absolute;
    right:0;
    background: #57B0F1;
    top: 70px;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.drop-menu li{
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.drop-menu li:last-child{
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.drop-menu a{
    color: white;
}

.drop-menu li:hover{
    background: #2e3a596b;
    transition: 0.6s;
}



/***********ADMIN MODIFY USERS PAGE************/


.user-admin{
    color:#2E3A59;
    font-size: 15px;
    text-align: right;
    padding-right: 0;
    font-style: italic ;
}

.form-update-user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.user-table-row{
    display: grid;
    grid-template-columns: 85% auto;
    justify-content: space-between;
}

.form-check-label{
    margin-right: 30px;
}

.form-check-input:checked {
    background-color: #2E3A59;
    border-color: #2E3A59;
}

