@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans");

body {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;

    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    background-color: #57b0f1;
    padding: 5px 5px;
    align-items: center;
}

.navbar .logo {
    width: 69px;
    height: 64px;
}

.navbar .menu {
    display: flex;
    width: 270px;
    justify-content: space-around;
    margin-left: auto;
}

.navbar .menu a {
    color: white;
}

.welcome-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-message .text {
    color: #57B0F1;
}

.welcome-message .image {
    width: 75%
}

.footer {
    text-align: center;
}

.footer .info {
    font-size: 10px;
}

.patients-page-container {
    display: flex;
    justify-content: center;
}

.pacients-table-wraper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 15%);
    border-radius: 0.3rem;
}

.patients-page-container table {
    width: 100%;
}

.pacients-table-searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    width: 100%;
    padding: 1rem;
}

.searchbar-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbar-form input,
.searchbar-form select {
    border: solid;
    border-width: 3px;
    border-color: #2E3A59;
}

.searchbar-form button {
    cursor: pointer;
    border: solid;
    padding: 0.4rem 0.5rem 0.3rem 0.5rem;
    border-radius: 20%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-color: #2E3A59;
    border-width: 3px;
    color: #2E3A59;
    font-size: 1.1rem;
    background-color: white;
    margin-left: -0.4rem;
}

.searchbar-form input,
.searchbar-form select {
    border-right: none;
    height: 2.7rem;
    width: 12rem;
    font-size: 16px;
}

.pacients-table-searchbar select:focus,
.searchbar-form input:focus,
.searchbar-form button:focus {
    outline: none !important;
}


#advanced-search-button {
    cursor: pointer;
    color: white;
    background-color: #2E3A59;
    padding: 0.4rem 1rem 0.4rem 1rem;
    font-weight: normal;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
}

#advanced-search-button:hover {
    background-color: #2e3a59ce;

}

.button-blue.edit-patient-button {
    padding-left: 0.5rem;
}

.edit-patient-button:hover {
    color: white;
}

.edit-patient-button i {
    margin-right: 0.5rem;
}

.hidden {
    display: none;
}


.add-patient-button {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.add-patient-button-text:hover {
    text-decoration: underline;
}

.add-patient-button-icon {
    margin: 0px;
    border-radius: 20%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    ;
    background-color: #2E3A59;
    color: white;
}

.add-patient-button-icon i {
    font-size: 1.2rem;
}

.add-patient-button-text {
    padding: 0.2rem 0.5rem 0.2rem 0.3rem;
    border-color: #2E3A59;
    color: white;
    background-color: #2E3A59;
    border-bottom-right-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.button-blue {
    background-color: #57B0F1;
    color: white;
    padding: 0.3rem 1rem 0.3rem 1rem;
    font-weight: normal;
    border-radius: 0.3rem;
}

.button-blue:hover {
    color: white;
    background-color: #7ec2f3;
}

th {
    background-color: #2E3A59;
    color: white;
    font-weight: 300;
}

table,
th,
td {
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    text-align: left;
}


th:nth-child(4) {
    text-align: right;
}

td:nth-child(4),
td:nth-child(5),
td:nth-child(6) {
    text-align: center;
}

td:nth-child(6) {
    font-size: 2rem;
}

td:nth-child(6) a {
    color: #57B0F1;
}

td:nth-child(6) a:hover {
    color: #7ec2f3;
}

.order-by-th .order {
    border-radius: 100%;
    border-style: solid;
    color: white;
    padding: 0rem 0.3rem 0rem 0.3rem;
    ;
    margin-left: 0.2rem;
}

.order-by-th .active-order,
.order-by-th .order:hover {
    color: #57B0F1;
}

.order-by-th i {
    padding: 0rem 0.1rem 0rem 0.1rem;
    font-size: 1rem;
}

.pagination {
    width: 97%;
    display: flex;
    margin: 3rem 0rem 1rem 0rem;
    justify-content: space-between;
    align-items: center;
}

.pagination-direction {
    color: #DADADA;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

.pagination-direction:hover {
    color: #57B0F1;
}

.pagination-direction .fa-angle-left {
    font-size: 2rem;
    margin-right: 0.5rem;
}

.pagination-direction .fa-angle-right {
    font-size: 2rem;
    margin-left: 0.5rem;
}

.pagination-info {
    color: #828080;
    font-size: 16px;
    color: #2E3A59;
}


/*  PATIENTS HISTORY PAGE */

.pacients-table-wraper.history {
    height: fit-content;
}

.pacients-table-wraper.history table th {
    background-color: #57B0F1;
    color: white;
    font-weight: normal;
}

.pacients-table-wraper.history table th:nth-child(1) {
    border-bottom-style: solid;
    border-color: white;
    border-bottom-width: 2px;
}

.button-orange {
    background-color: #F1AA57;
    border: none;
    color: white;

}

.button-orange:hover {
    background-color: #f1be83;

}

.pacients-table-wraper.history .fa-chevron-left,
.pacients-table-wraper.history .fa-chevron-right,
.fa-file-alt,
.fa-images {
    font-size: 1.5rem;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    color: #828080;
    cursor: pointer;
}

.fa-file-alt {
    padding-right: 0px;
}

.pacients-table-wraper.history .fa-chevron-left:hover,
.pacients-table-wraper.history .fa-chevron-right:hover,
.fa-file-alt:hover,
.fa-images:hover {
    color: #57B0F1;
}

.pacients-table-wraper.history .fa-chevron-right.active-arrow,
.fa-images.active-imageIcon {
    color: #57B0F1;
    border-radius: 100%;
    background-color: #d6eeff;
}


.consult-fields-container {
    max-height: 87vh;
    overflow: auto;
    margin: 30px 1rem 0px 1rem;
}

.modal-body .field-container,
.consult-fields-container .field-container {
    box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 15%);
    margin: 0.5rem;
}

.modal-body .field-name,
.consult-fields-container .field-name {
    background-color: #57B0F1;
    text-align: center;
    color: white;
    padding: 0.5rem 0rem;
    text-transform: capitalize;
}

.modal-body .field-content,
.consult-fields-container .field-content {
    padding: 0rem 1rem 1rem;
}

/* .field-list {
    padding: 0rem 16px 16px;
    list-style: disc;
    margin: 16px;
} */


.field-list {
    list-style: none;
    padding: 0rem 16px 16px;
    margin: 16px;
}

.field-list li {
    text-indent: -.7em;
}

.field-list li::before {
    content: "•";
    color: #57B0F1;
    padding-right: 0.5rem;
    /* or whatever color you prefer */
}

#history-arrow {
    padding-left: 0rem;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 50px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    width: 800px;
    border-style: none !important;
}

/* The Close Button */
.close {
    color: #2E3A59;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.fa-print:hover,
.file-pdf:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header img:hover {
    color: white;
}

.modal-header {
    padding: 1rem;
    background-color: #57B0F1;
    color: white;
}

.modal-header .buttons-container img {
    width: 1.5rem;
    margin-right: 1rem;
}

.modal-header .buttons-container {
    position: absolute;
    display: inline-flex;
    align-items: center;
    left: 86%;
}

.modal-header .medical-letter-logo {
    margin-left: 1.5rem;
}

.modal-header h2 {
    width: 100%;
    text-align: center;

    margin: 0px;
    font-size: 1.5rem;
}

.modal-body {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.modal-body .info {
    font-size: 16px;
    margin: 0px 8px 1rem 8px;
}

.modal-body .field-content {
    font-size: 16px;
}

.modal-body .field-name {
    font-size: 18px;
}

.modal-body .field-list {
    font-size: 16px;
}

.modal-body .field-container.field-0,
.modal-body .field-container.field-3 {
    width: 50%;
}

.modal-body .field-container.field-1,
.modal-body .field-container.field-4 {
    width: 45.6%;
}

.modal .modal-footer {
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-shrink: 0; */
    align-items: center;
    justify-content: space-between;
    /* justify-content: flex-end; */
    padding: 1rem 2.5rem 1.5rem 2.5rem;
    border: none;
}

.modal .modal-footer p {
    font-size: 18px;
}

.modal-body .field-container.field-2 {
    width: 100%;
}

.modal-body .price {
    display: flex;
    width: 95%;
    justify-content: flex-end;
    font-size: 16px;
    margin: 0px 0px 16px;
}

.medical-letter-logo {
    height: 2rem;
}

.fa-print {
    color: #2E3A59;
    padding-right: 1rem;
}

.consult-form {
    box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 15%);
    width: 1050px;
    height: fit-content;
    margin-top: 2rem;
    border-radius: 0.3rem;
}

.consult-form label {
    text-transform: capitalize;
    font-size: 17px;
}

.consult-form .outer-wraper {
    padding: 2rem;
    padding-right: 1rem;
}

.consult-form .outer-wraper .wraper:nth-child(1) .wraper:last-child {
    flex-direction: column;
    width: 33.3% !important;
}

.consult-form .outer-wraper .wraper:nth-child(1) .wraper:last-child .inner-wraper {
    width: 100% !important;
}

.consult-form .outer-wraper .wraper:nth-child(1) .wraper:last-child .inner-wraper input {
    margin-bottom: 1rem;
}

.consult-form input,
.consult-form select {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.consult-form .wraper {
    display: flex;
    width: 100%;
}

.consult-form .inner-wraper {
    display: flex;
    flex-direction: column;
    width: 33.3%;
}

.consult-form .outer-wraper .wraper:last-child .inner-wraper:first-child {
    width: 90%;
}

.consult-form .outer-wraper .wraper:last-child .inner-wraper:last-child {
    width: 10%;
}

.consult-form .outer-wraper .wraper:last-child .inner-wraper input {
    margin-bottom: 0rem;
}

.consult-form .consult-form-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom-style: solid;
    border-bottom-width: 0.3rem;
    border-bottom-color: #2E3A59;
}

.consult-form .consult-form-header .header-wraper {
    display: flex;
    align-items: center;
}

.consult-form .consult-form-header .header-wraper span {
    font-weight: bolder;
    margin-right: 0.8rem;
}

.consult-form .consult-form-header .header-wraper .fa-chevron-left {
    cursor: pointer;
}

.consult-form .consult-form-header .header-wraper .fa-chevron-left:hover {
    color: #40496156;
}

.consult-form .consult-form-header .header-wraper span,
.consult-form .consult-form-header .header-wraper .fa-chevron-left {
    color: #2E3A59;
}

.consult-form .fa-file-alt {
    font-size: 2.2rem;
    color: #2E3A59;
}

.consult-form .alert {
    margin-bottom: 0px !important;
}

.consult-form .alert.alert-success {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.consult-form .fa-file-alt {
    background-color: #0f56422e;
    border-radius: 100%;
    position: absolute;
    left: 95%;
    font-size: 1.4rem;
    animation: grow 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

@keyframes grow {
    from {
        padding: 0.8rem;
        padding: 0.8rem
    }

    to {
        padding: 1rem;
        padding: 1rem;
    }
}

.button-blue-dark {
    background-color: #2E3A59;
    color: white;
    height: 2.2rem;
    padding: 0rem 0.8rem 0rem 0.8rem;
    font-size: 14px;
    border: none;
    border-radius: 0.3rem;
}

.button-blue-dark:hover {
    background-color: #2e3a59ce;
}

.consult-form .file-pdf {
    cursor: pointer;
}

#consult-page {
    display: flex;
    justify-content: center;
}

#consult-page .patient-fields-container {
    margin-top: 2rem;
    margin-left: 1.5rem;
    height: fit-content;
    box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 15%);
    padding: 1.8rem;
    font-size: 17px;
    border-radius: 0.3rem;
}

#consult-page .patient-fields-container .patient-field {
    border-bottom-style: solid;
    padding: 0.8rem;
    border-color: #2E3A59;
}

#consult-page .patient-fields-container .patient-field:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

#consult-page .patient-fields-container .patient-field:nth-child(1) {
    padding-top: 0px;
}

#consult-page .active-arrow {
    border-radius: 100%;
    background-color: #2e3a5952;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
}

#consult-page .active-arrow:hover {
    background-color: #2e3a5915;
}

#consult-page .consult-footer {
    background-color: #2E3A59;
    padding: 16px 0px;
    color: white;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

#consult-page .consult-footer input {
    font-size: 16px !important;
    margin-left: 17px;
}

#consult-page .consult-footer .consult-images-container {
    border-top-style: solid;
}

.consult-images-container {
    display: flex;
    padding-left: 16px;
}

.consult-images-container .consult-image {
    max-height: 180px;
    max-width: 180px;
    padding: 16px 16px 0px 0px;
}

.consult-images-container .consult-image img {
    height: 100%;
    width: 100%;
}

.patients-page-container .consult-images-container {
    align-items: center;
    flex-direction: column;
    overflow: auto;
    padding: 16px;
    padding-bottom: 0px;
    max-height: 81vh;
    overflow: auto;
}

.patients-page-container .consult-images-container .consult-image {
    max-height: none;
    width: fit-content;
    max-width: 250px;
    padding: 0px;
    border-style: solid;
    border-width: thick;
    margin-bottom: 16px;
    border-color: #57B0F1;
    border-radius: 0.3rem;
}

.file-upload-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #57B0F1;
    padding: 1rem;
    color: white;
}

.file-upload-form input {
    font-size: 16px !important;
    width: 14rem;
}

.file-upload-form button {
    margin-top: 1rem;
    font-size: 16px;
}

.consult-images-wraper {
    box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 15%);
    margin-top: 30px;
    height: fit-content;
}